.wrapper {
  margin: 20px auto;
  padding: 50px 30px;
  width: 700px;
  height: 400px;
  border: 2px solid black;
  border-radius: 4px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.formInput {
  padding: 10px;
  width: 300px;
}
.formBtn {
  width: 150px;
  border-color: #fdbb2d;
}
.formInput,
.formInput,
.formBtn,
.formBtn {
  font-size: 15px;
  color: rgb(32, 147, 192) 100%;
  border-radius: 4px;
}
.formInput:hover,
.formInput:focus,
.formBtn:hover,
.formBtn:focus {
  cursor: pointer;
  border-color: #fdbb2d;
}
.formBtn:hover,
.formBtn:focus {
  background-color: #fdbb2d;
}
.formInput:hover,
.formInput:focus {
  outline-color: #fdbb2d;
}
.title {
  margin-top: 20px;
}
.infoContainer {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}
.info {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  padding-bottom: 10px;
}
/* .img {
  display: flex;
} */
